:root {
    --gap: 14px;
    --link-color: #ff9067;
}

.dark-theme {
  --text-color: #eee;
  --bkg-color: #152028;
}

.light-theme {
  --text-color: #222;
  --bkg-color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
            animation: fadein 4s;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--bkg-color);
}

header {
  margin-bottom: 50px;
  padding: 20px 0px;
}

footer {
    margin-top: 50px;
    font-size: 14px;
    display: block;
}

#fixed-footer {
  position: absolute;
  bottom:0;
  width:70%;
  box-sizing: border-box;
  height:60px;   /* Height of the footer */
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 10px 10px 10px #00000080;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

.right {
  float: right;
  list-style-type: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  margin-top: 0px;
  margin-right: 25px;
}

.right > li {
    margin-inline-start: var(--gap);
}

.navigation {
  margin: 0;
  width: 22%;
  height: 70%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.wrapper{
  margin-left:25% !important;padding:1px 16px;
}

.links {
  /*background-color: #bbb;*/
  list-style-type: none;
  padding: 0;
}

.links > li {
  padding: 8px 16px;
}

.links > li a {
  color: var(--text-color);
  font-weight: normal;
  text-decoration: none;
  padding: 1px 4px 1px;
}

.links > li a[href=""] {
  background: #9bfa9b90;
}

.links > li a:hover:not(a[href=""]) {
  background: #f9f34b90;
}

.links > li a{
  text-transform: lowercase;
  font-size: 16px;
}

.logo{
  text-decoration: none !important;
}

#socials, #title-list {
  list-style-type: none;
  margin: 36px 0px 36px;
  display: flex;
  padding-inline-start: 0px;
}

#socials > li, #title-list > li {
  margin-inline-end: 18px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    body {
      padding: 10px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    body {
      padding: 0px;
      margin: 2px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Style the Image Used to Trigger the Modal */
.myImages {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImages:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    height: 70%;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .prev {
    position: absolute;
    top: 40%;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .next {
    position: absolute;
    top: 40%;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .prev, .next, header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .prev, .next {
    padding: 16px;
  }
  .prev:hover,
  .prev:focus,
  .next:hover,
  .next:focus {
    background-color: rgba(0, 0, 0, 0.8);
}
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        height: auto;
        width: 90%;
    }
    .prev, .next {
        display: none;
    }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 20px;
  right: -20px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('../icons/moon.svg');
  fill: black;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('../icons/sun.svg');
  fill: black;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#left-side {
  float: left;
  width: 300px;
  box-sizing: border-box;
  margin: 0 auto;
}

#right-side {
  float: right;
  display:block;
  width: 500px;
  box-sizing: border-box;
}

/* Adjust to work on all screens */
@media print, screen and (max-width: 1100px){
  
  div.wrapper{
    width:auto;
    margin: 0 20px;
  }

  #left-side, #right-side, #fixed-footer{
    float:none;position:static;width:auto;
  }

  #left-side {
    text-align: center;
    width: 66%;
  }

  section{
    border:1px solid #e5e5e5;border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
}