* {
    font-family: monospace, "Courier New", Arial, Helvetica, sans-serif;
}
.container { margin-top: 64px;
    }
body {
    background-color:#ebcccc;
    color:rgb(75, 75, 75)
}
#list {
    background-color: #f8f1f1;
}
#title {
    background-color: #e79c9c;
}

#add {
    background-color: #8c98cf;
    border-color: #4e5b97;
}

#clear {
    background-color: #f79a93;
    border-color: #ee5c5c;
    border-style:dashed;
}

#input {
    padding: 10px 50px 50px 50px !important;
}
#input:before {
    content: "";
    display: block;
    width: 70%;
    margin: 1em auto 0;
    padding: 18px !important;
    border-top: 2px dotted rgb(180, 180, 180);
}
.panel-body {
    padding: 10px 50px !important;
}

#lollipop {
    background: url(https://i.ibb.co/F6Xx77z/f2845d2875328f409c79b93b3c324ee8.gif) no-repeat;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #ffffff00;
    background-size: 100px;
    height: 100px;
    width: 100px;
    border: none;
    box-shadow: none;
    filter: drop-shadow(8px 9px 15px #00000044);
    z-index: 1000;
    font-size: 0px;
    opacity: 1;
}
